# dependencies
node_modules/
contracts/node_modules/

# next / build
.next/
out/
dist/

# hardhat
contracts/cache/
contracts/artifacts/
contracts/typechain-types/

# env
.env
.env.local
.env*.local

# logs / OS
*.log
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
.cursor/
